<header>
  <h1 class="headline">Bookers</h1>
</header>
<main>
  <section class="title-headline">
    <h3 class="title">Title</h3>
    <div class="title-name">
      <% @books.each do |book| %>
        <span><%= book.title %></span>
      <% end %>
    </div>
  </section>
  <section class="body-box">
    <h3 class="body">Body</h3>
    <div class="body-text">
      <% @books.each do |book| %>
        <span><%= book.body %></span>
        <div class="sidebtn">
          <%= link_to "Show", show_book_path(@book.id) %>
          <%= link_to "Edit", edit_book_path(@book.id) %>
          <%= link_to "Destroy" destroy_bookpath(@book.id), method: :delete %>
        </div>
      <% end %>
    </div>
  </section>

</main>