<% if flash[:create] %>
  <p><%= flash[:create] %></p>
<% end %>
<% if flash[:update] %>
  <p><%= flash[:update] %></p>
<% end %>
<p class="show-title">
<b>Title:</b><%= @book.title %>
</p>
<p class="show-body">
<b>Body:</b><%= @book.body %>
</p>
<%= link_to "Edit", edit_book_path(@book) %>
<%= link_to "Back", books_path %>

